abcmatch.o
config.h
config.log
config.status
crack.o
debug.o
drawtune.o
genmidi.o
matchsup.o
mftext
mftext.o
midi2abc.o
midicopy
midicopy.o
midifile.o
parseabc.o
parser2.o
position.o
pslib.o
queues.o
store.o
stresspat.o
toabc.o
yaps
yapstree.o

